{{!< default}}
<div class="bg-black pb-10 pt-28">
    <div class="container text-white">
        <header class="text-start">
            <h1 class="font-serif text-6xl">Insights</h1>
            <p class="text-lg mt-4 text-white/80 max-w-[720px]">
                Architecture, interior-design and building Insights. Discover the latest innovations, news and achievement in the construction industry.
            </p>
            <button class="mt-4 p-4 rounded bg-white flex items-center justify-between w-[240px] md:w-[400px]" data-ghost-search>
                <span class="text-black/70 text-xl">Search...</span>
                {{> "icons/search" className="text-black h-5"}}
            </button>
        </header>
    </div>
</div>

<div class="container my-8">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        {{#foreach posts}}

            {{> "card"}}

        {{/foreach}}
    </div>

</div>

{{> "home/community"}}
