{{!< default}}

<div class="bg-gradient-to-r from-purple-800 to-pink-500 pb-10 pt-[150px]">
  <div class="container text-white">

    <header class="text-star max-w-[720px]">

      <h1 class="font-sans text-5xl md:text-6xl font-bold">Our Work</h1>

      <p class="text-lg mt-4">
        Exprole architecture and Interior design projects that we have been part
        of.
      </p>

    </header>
  </div>
</div>
<div class="container my-5 border-t">
  <div class="w-full grid gap-2 sm:gap-6 grid-cols-2 md:grid-cols-3">
    {{#foreach posts}}

        {{> "project-card"}} {{!-- partials/card.hbs --}}

      {{/foreach}}
  </div>
      
</div>

{{> "home/book-consultation"}}