/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev


/* Ghost components */
@import "ghost/content.css";
@import "ghost/members.css";
@import "ghost/errors.css";

/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Nav */
.nav-bg--black {
    background-color: #0a0a0a !important;
}

/* Mobile Menu */
.gh-burger {
    position: relative;
    display: none;
    cursor: pointer;
}

.gh-burger-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
}

.gh-burger-inner {
    width: 100%;
    height: 100%;
}

.gh-burger-box::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 1px;
    background: currentcolor;
    transition: transform 300ms cubic-bezier(.2, .6, .3, 1), width 300ms cubic-bezier(.2, .6, .3, 1);
    will-change: transform, width;
}

.gh-burger-inner::before,
.gh-burger-inner::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 1px;
    background: currentcolor;
    transition: transform 250ms cubic-bezier(.2, .7, .3, 1), width 250ms cubic-bezier(.2, .7, .3, 1);
    will-change: transform, width;
}

.gh-burger-inner::before {
    transform: translatey(-6px);
}

.gh-burger-inner::after {
    transform: translatey(6px);
}

.nav--active {
    display: block;
    background-color: #000000;
    position: fixed;
    z-index: 1000;
    top: 64px;
    left: 0;
    height: calc(100vh - 64px);
    width: 100%;
    overflow-y: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav--active li {
    display: block;
}


.menu-icon {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.ac-hamburger {
    width: 40px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}

.ac-hamburger::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #fff;
    transition: 0.4s;
}

.ac-hamburger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #fff;
    transition: 0.4s;
}

.ac-hamburger::before {
    top: -10px;
    transform: none;
}

.ac-hamburger::after {
    top: 10px;
    transform: none;
}

.ac-hamburger--active {
    background: transparent;
}

.ac-hamburger--active::before {
    top: 0 !important;
    transform: rotate(-135deg) !important;
}

.ac-hamburger--active::after {
    top: 0 !important;
    transform: rotate(-45deg) !important;
}

/* slider arrows */
.navigation-wrapper {
    position: relative;
}

.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.dot:focus {
    outline: none;
}

.dot--active {
    background: #fff;
}

.arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
}

.arrow--left {
    left: 5px;
    fill: "#fff";
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
    left: auto;
    right: 5px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='#ffffff'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--right {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.project-slider__item {
    height: 280px;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 640px) {
    .project-slider__item {
        height: auto;
        max-height: 600px;
    }
}