/*

This is a development CSS file which is compiled to a minified
production stylesheet in assets/built/screen.css using: gulp dev


/* Ghost components */
@import "ghost/content.css";
@import "ghost/members.css";
@import "ghost/errors.css";

/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Nav */
.nav-bg--black {
    background-color: #000000 !important;
}

/* Mobile Menu */
.gh-burger {
    position: relative;
    display: none;
    cursor: pointer;
}

.gh-burger-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
}

.gh-burger-inner {
    width: 100%;
    height: 100%;
}

.gh-burger-box::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 1px;
    background: currentcolor;
    transition: transform 300ms cubic-bezier(.2, .6, .3, 1), width 300ms cubic-bezier(.2, .6, .3, 1);
    will-change: transform, width;
}

.gh-burger-inner::before,
.gh-burger-inner::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 1px;
    background: currentcolor;
    transition: transform 250ms cubic-bezier(.2, .7, .3, 1), width 250ms cubic-bezier(.2, .7, .3, 1);
    will-change: transform, width;
}

.gh-burger-inner::before {
    transform: translatey(-6px);
}

.gh-burger-inner::after {
    transform: translatey(6px);
}

.nav--active {
    display: block;
    background-color: #000000;
    position: fixed;
    z-index: 1000;
    top: 64px;
    left: 0;
    height: calc(100vh - 64px);
    width: 100%;
    overflow-y: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav--active li {
    display: block;
}


.menu-icon {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.ac-hamburger {
    width: 40px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}

.ac-hamburger::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #fff;
    transition: 0.4s;
}

.ac-hamburger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #fff;
    transition: 0.4s;
}

.ac-hamburger::before {
    top: -10px;
    transform: none;
}

.ac-hamburger::after {
    top: 10px;
    transform: none;
}

.ac-hamburger--active {
    background: transparent;
}

.ac-hamburger--active::before {
    top: 0 !important;
    transform: rotate(-135deg) !important;
}

.ac-hamburger--active::after {
    top: 0 !important;
    transform: rotate(-45deg) !important;
}