<section class="my-16">
	<div class="container flex flex-wrap">
		<div class="w-full md:w-1/2 mb-8 md:mb-0">
			<img
				src={{asset "/img/r-architecture-MAnVoJlQUvg-unsplash.jpg"}}
				alt="house"
				class="w-full md:w-[90%] rounded"
			/>
		</div>
		<div class="w-full md:w-1/2">
			<h3
				class="flex items-center text-xl mb-4 uppercase relative font-semibold before:content-[' '] before:inline-block before:w-1 before:bg-black before:h-10 before:rotate-12 before:mr-4"
			>
				About Us
			</h3>
			<p class="text-2xl md:text-3xl font-sans max-w-[960px]">
				We are a leading architectural firm in Kenya. We are passionate about
				our work and offer exemplary project solutions that are aesthetically
				striking and environmentally responsible.
			</p>
			<h4
				class="text-base font-semibold my-6 text-gray-600 uppercase tracking-wider"
			>
				Press Mentions & Awards
			</h4>
			<div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 items-center gap-4">
				<a 
					href="https://nation.africa/kenya/business/How-to-get-value-for-your-money-in-an-off-plan-home-purchase/996-2491082-qolaif/index.html" 
					target="_blank" 
					rel="noopener noreferrer" 
					class="w-full h-auto"
				>
					<img src="https://res.cloudinary.com/chat-cart/image/upload/v1659325850/archi-ke/download_gvdk0x.jpg" alt="nation">
				</a>
				<a 
					href="https://www.youtube.com/watch?v=8EX-eOB_r88&ab_channel=PropertyFocusTV" 
					target="_blank" 
					rel="noopener noreferrer" 
					class="w-auto h-auto"
				>
					<img src="https://res.cloudinary.com/chat-cart/image/upload/v1659326344/archi-ke/NTV__Kenya__logo_s3mq49.png" alt="ntv">
				</a>
				<div class="w-full h-auto"></div>
			</div>
			<a href="/about-us">
				<button
					class="py-1 px-3 text-sm uppercase flex items-center border-l-4 border-black group mt-10"
				>
					<span class="text-gray-500 group-hover:text-gray-900">
						More about us
					</span>
					{{> "icons/arrow-right" className="ml-2 group-hover:ml-3 color-blue-300 h-4"}}
				</button>
			</a>
		</div>
	</div>
</section>