<section class="my-16">
	<div class="container">
		<h3 class="flex items-center text-xl mb-6 uppercase relative font-semibold">
			Recent Projects
		</h3>
		<div class="w-full grid gap-2 sm:gap-6 grid-cols-2 md:grid-cols-3">
			{{#get "posts" limit="6" filter="tag:project" include="tags"}}
        {{#foreach posts}}
          {{> "project-card"}}
        {{/foreach}}
			{{/get}}
		</div>

		<div class="mt-4">
      <a href="/tag/residential">
        <button
          class="border rounded border-black hover:bg-black hover:text-white hover:underline py-2 px-5 text-base uppercase font-sans flex items-center"
        >
          <span>View All Projects</span>
          <ArrowUpRight class="ml-3 h-4 w-auto" />
        </button>
      </a>
		</div>
	</div>
</section>