<section class="py-16 bg-black text-white">
  <div class="container">
    <h2
      class="flex items-center text-xl mb-4 uppercase relative font-semibold before:content-[' '] before:inline-block before:w-1 before:bg-white before:h-10 before:rotate-12 before:mr-4"
    >
      Our Services
    </h2>
    <p class="text-2xl text-white/80 font-sans">
      We are a full-service boutique architecture firm.
    </p>
    <div class="grid grid-cols-4 gap-8 mt-16">
      <div
        class="col-span-4 sm:col-span-2 lg:col-span-1 service-item mb-20 md:mb-0"
      >
        <img
          src={{asset "/img/ad.png"}}
          alt="Architectural Design"
          class="h-16 invert mb-4"
        />
        <h3 class="text-xl lg:text-2xl font-sans mb-4 mt-2">
          Architectural Design
        </h3>
        <p class="text-lg text-white/80">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit netus praesent eu orci, volutpat.</p>
        <a
          href="/services/architectural-design"
          class="block mt-6 underline font-sans capitalize tracking-wider"
        >
          View Service
        </a>
      </div>
      <div
        class="col-span-4 sm:col-span-2 lg:col-span-1 service-item mb-20 md:mb-0"
      >
        <img
          src={{asset "/img/id.png"}}
          alt="Architectural Design"
          class="h-16 invert mb-4"
        />
        <h3 class="text-xl lg:text-2xl font-sans mb-4 mt-2">
          Interior Design
        </h3>
        <p class="text-lg text-white/80">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit netus praesent eu orci, volutpat.</p>
        <a
          href="/services/interior-design"
          class="block mt-6 underline font-sans capitalize tracking-wider"
        >
          View Service
        </a>
      </div>
      <div
        class="col-span-4 sm:col-span-2 lg:col-span-1 service-item mb-20 md:mb-0"
      >
        <img
          src={{asset "/img/pm.png"}}
          alt="Architectural Design"
          class="h-16 invert mb-4"
        />
        <h3 class="text-xl lg:text-2xl font-sans mb-4 mt-2">
          Project Management
        </h3>
        <p class="text-lg text-white/80">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit netus praesent eu orci, volutpat.</p>
        <a
          href="/services/project-management"
          class="block mt-6 underline font-sans capitalize tracking-wider"
        >
          View Service
        </a>
      </div>
      <div
        class="col-span-4 sm:col-span-2 lg:col-span-1 service-item mb-20 md:mb-0"
      >
        <img
          src={{asset "/img/consultation.png"}}
          alt="Architectural Design"
          class="h-16 invert mb-4"
        />
        <h3 class="text-xl lg:text-2xl font-sans mb-4 mt-2">
          Consultation
        </h3>
        <p class="text-lg text-white/80">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit netus praesent eu orci, volutpat.</p>
        <a
          href="/services/consultation"
          class="block mt-6 underline font-sans capitalize tracking-wider"
        >
          View Service
        </a>
      </div>
    </div>

  </div>
</section>